@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.home_bg {
  background-image: url("/images/musty.jpg");
}

.home_nav li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

/* scroll bar */
::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(148 163 184);
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  /* Make the scrollbar thin */
  scrollbar-width: thin;

  /* Set the colors of the thumb and track areas */
  /* Thumb color: #718096 */
  /* Track color: #edf2f7 */
  scrollbar-color: #718096 #edf2f7;
}
